In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [4]:
data = pd.read_csv(r'kiva_loans.csv')
data.head(1)

,id,funded_amount,loan_amount,activity,sector,purpose,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,entryDate
0,653051,300,300,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12,12,NaN,female,irregular,2014-01-01

In [3]:
data.dtypes

id                      int64
funded_amount           int64
loan_amount             int64
activity               object
sector                 object
purpose                object
country_code           object
country                object
region                 object
currency               object
partner_id            float64
posted_time            object
disbursed_time         object
funded_time            object
term_in_months          int64
lender_count            int64
tags                   object
borrower_genders       object
repayment_interval     object
entryDate              object
dtype: object

In [5]:
data['disbursed_time'] = pd.to_datetime(data['disbursed_time'])
data['funded_time'] = pd.to_datetime(data['funded_time'])
data['posted_time'] = pd.to_datetime(data['posted_time'])

data.head(1)

,id,funded_amount,loan_amount,activity,sector,purpose,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,entryDate
0,653051,300,300,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12,12,NaN,female,irregular,2014-01-01

In [6]:
data.dtypes

id                                  int64
funded_amount                       int64
loan_amount                         int64
activity                           object
sector                             object
purpose                            object
country_code                       object
country                            object
region                             object
currency                           object
partner_id                        float64
posted_time           datetime64[ns, UTC]
disbursed_time        datetime64[ns, UTC]
funded_time           datetime64[ns, UTC]
term_in_months                      int64
lender_count                        int64
tags                               object
borrower_genders                   object
repayment_interval                 object
entryDate                          object
dtype: object